<h2>Sign Up</h2>
<form class="signup-form">
  <div class="form-group">
    <label for="username-signup">Username</label>
    <input type="text" class="form-control" id="username-signup" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="password-signup">Password</label>
    <input type="password" class="form-control" id="password-signup" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <div id="signup">
    <a href="/login">Click here to login in instead</a>
  </div>
</form>

<script src="/js/signup.js"></script>